# Java
*.class
*.jar
*.war
*.ear

# Gradle
.gradle/
build/
out/
!gradle/wrapper/gradle-wrapper.jar

# Dependency directories
**/node_modules/
**/.pnp
.pnp.js

# IDEs and Editors
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.sw?

# Logs
*.log
logs/
*.pid

# OS files
.DS_Store
Thumbs.db

# Docker
*.tar
docker-compose.override.yml

# Test outputs
test-output/

# Spring Boot dev tools
.spring-boot-devtools.properties

# Database
*.h2.db
*.mv.db
*.trace.db

# Others
.env
/.codebuddy/
